In [ ]:
import tweepy
from tweepy import OAuthHandler
from tweepy.streaming import StreamListener
import json
from unidecode import unidecode
import time
import datetime
from tqdm import tqdm
import pandas as pd
import numpy as np

In [ ]:
consumer_key = 'YOUR-CONSUMER-KEY'
consumer_secret = 'YOUR-CONSUMER-SECRET'
access_token = 'YOUR-ACCESS-TOKEN'
access_secret = 'YOUR-ACCESS-SECRET'

In [ ]:
auth = tweepy.OAuthHandler('YOUR-CONSUMER-KEY', 'YOUR-CONSUMER-SECRET')
auth.set_access_token('YOUR-ACCESS-TOKEN','YOUR-ACCESS-SECRET')
api = tweepy.API(auth, wait_on_rate_limit=True)

In [ ]:
def tweetSearch(query, limit):
    tweets  =[]
    for page in tweepy.Cursor(api.search, q=query, count=limit, tweet_mode="extended" ).pages(limit):
      for tweet in page:
        tweets.append(tweet)
    return tweets

In [ ]:
def tweets_to_data_frame(tweets):
  df = pd.DataFrame(data=[tweet.full_text.encode('utf-8') for tweet in tweets], columns=["Tweets"])
  df["id"] = np.array([tweet.id for tweet in tweets])
  df["lens"] = np.array([len(tweet.full_text) for tweet in tweets])
  df["date"] = np.array([tweet.created_at for tweet in tweets])
  df["place"] = np.array([tweet.place for tweet in tweets])
  df["coordinateS"] = np.array([tweet.coordinates for tweet in tweets])
  df["lang"] = np.array([tweet.lang for tweet in tweets])
  df["source"] = np.array([tweet.source for tweet in tweets])
  df["likes"] = np.array([tweet.favorite_count for tweet in tweets])
  df["retweets"] = np.array([tweet.retweet_count for tweet in tweets])
  return df

In [ ]:
mkdir data

mkdir: cannot create directory ‘data’: File exists

In [ ]:
hashtags = ['#GBV', '#sexism', '#rape' , '#endgbv', '#genderbasedviolence' , '#YessAllWomen' , '#MeeToo' ,'#CGSHEquity', '#GBVFridays', '#YOUTHAGAINSTGBV','#GenerationEquality' ,'#combattingviolentextremism','#sexualabuse','#domesticvilence','#sexualviolence','#harass','#sexualharrassement','#womenphysicalviolence','#sexualassult','#sextrafficking','#forcedmarriage','#allgbv']

In [ ]:
from tqdm import tqdm

In [ ]:
total_tweets = 0

for n in tqdm(hashtags):
  hash_tweets = tweetSearch(query=n,limit=7000)
  total_tweets += int(len(hash_tweets))
  # second we convert our tweets into datarame
  df = tweets_to_data_frame(hash_tweets)
  #third we save the dataframe into csv file
  df.to_csv("data/{}_tweets.csv".format(n))
  # show total number of tweets collected 
print("total_tweets: {}".format(total_tweets))

100%|██████████| 22/22 [15:52<00:00, 43.28s/it]

total_tweets: 20376

In [ ]:
assault_df = pd.read_csv('/content/data/#rape_tweets.csv')

In [ ]:
assault_df.head()

   Unnamed: 0  ... retweets
0           0  ...       28
1           1  ...        0
2           2  ...        5
3           3  ...       11
4           4  ...        4

[5 rows x 11 columns]

In [ ]:
assault_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6218 entries, 0 to 6217
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   6218 non-null   int64
 1   Tweets       6218 non-null   object
 2   id           6218 non-null   int64
 3   lens         6218 non-null   int64
 4   date         6218 non-null   object
 5   place        20 non-null     object
 6   coordinateS  0 non-null      float64
 7   lang         6218 non-null   object
 8   source       6218 non-null   object
 9   likes        6218 non-null   int64
 10  retweets     6218 non-null   int64
dtypes: float64(1), int64(5), object(5)
memory usage: 534.5+ KB

In [ ]:
import re

In [ ]:
def clean_tweet(tweet):
    return ' '.join(re.sub('(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)', ' ', tweet).split())

In [ ]:
assault_df['clean_tweet'] = assault_df['Tweets'].apply(lambda x: clean_tweet(x))

In [ ]:
assault_df['clean_tweet'].head()

0    b RT xf0 x9f x9b x91The decades long impunity ...
1    b xe0 xa4 x85 xe0 xa4 xb8 xe0 xa5 x8d xe0 xa4 ...
2    b RT Morocco xe2 x80 x99s vicious MoroccanPoli...
3    b RT xe0 xa4 xaf xe0 xa5 x87 xe0 xa4 xb9 xe0 x...
4    b RT xe0 xae x95 xe0 xaf x81 xe0 xae xb3 xe0 x...
Name: clean_tweet, dtype: object

In [ ]:
n=3000
print('Original tweet:\n'+ assault_df['Tweets'][n])
print()
print('Clean tweet:\n'+assault_df['clean_tweet'][n])
print()

Original tweet:
b'RT @majidahhashim: Hi @PDRMsia, this is a threat to #rape a child. This predator must be stopped. Rape is not a joke. All rape threats must\xe2\x80\xa6'

Clean tweet:
b RT Hi this is a threat to rape a child This predator must be stopped Rape is not a joke All rape threats must xe2 x80 xa6